<div class="article__list">
  <mat-card class="article__card" *ngFor="let article of articles">
    <img class="article__photo" mat-card-image [src]="article.image_url" alt="{{ article.title }}">
    <div class="article__info">
      <mat-card-subtitle class="article__date">&#8986; {{ article.published_at | date:'mediumDate' }}</mat-card-subtitle>
      <mat-card-title class="article__title">{{ article.title }}</mat-card-title>
      <mat-card-content class="article__content">{{ article.summary }}...</mat-card-content>
      <mat-card-actions>
        <button class="article__button" matButton>Read More &#8594;</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
