<div class="article__list">
  <mat-card 
    class="article__card" 
    *ngFor="let article of articles" 
    [routerLink]="['/article', article.id]"
  >
    <img class="article__photo" mat-card-image [src]="article.image_url" alt="{{ article.title }}">
    <div class="article__info">
      <mat-card-subtitle class="article__date">
        &#8986; {{ article.published_at | date:'mediumDate' }}
      </mat-card-subtitle>

      <mat-card-title class="article__title">
        <ng-container *ngFor="let chunk of splitText(article.title, searchTerm)">
          <span *ngIf="chunk.match" class="highlight">{{ chunk.part }}</span>
          <span *ngIf="!chunk.match">{{ chunk.part }}</span>
        </ng-container>
      </mat-card-title>

      <mat-card-content class="article__content">
        <ng-container *ngFor="let chunk of splitText(article.summary, searchTerm)">
          <span *ngIf="chunk.match" class="highlight">{{ chunk.part }}</span>
          <span *ngIf="!chunk.match">{{ chunk.part }}</span>
        </ng-container>
        <span>...</span>
      </mat-card-content>
      
      <mat-card-actions>
        <button class="article__button" matButton>Read More &#8594;</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
